@charset "utf-8";
/* CSS Document */
* {
margin: 0;
padding: 0;
}



body {
line-height: 1;
background: #BBCFE8;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #333;
font-size: 14px;
line-height: 18px;
}
	
#principal {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #888;
background: #fff;
-webkit-border-radius: 5px 10px; 
border-radius: 20px; 
-moz-border-radius: 20px; 

}

nav {
width: 800px;
height: 50px;
margin: 0 auto;
background: #666;
border-radius:20px;
}

#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
background: #FFF url(images/colbg.png) repeat-y;
overflow: hidden;
}

#content {
float: right;
width: 640px;
margin-right: 30px;
}

#sidebar {
float: left;
padding-left: 20px;
width: 220px;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/*Combinacion de selectores multiples*/
h1,h2,h3,h4,h5,h6 { 
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
color:#004C9A;
}

a:hover, a:active {
color: #333;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* nav */
ul#css3menu ul{
	display:none;position:absolute;left:-1px;top:98%;-moz-box-shadow:3.5px 4px 5px #000000;padding:0 10px 10px;background-color:#222222;-moz-border-radius:10px;-webkit-border-radius:10px;border-color:#000000;}
ul#css3menu li:hover>*{
	display:block;}
ul#css3menu li:hover{
	position:relative;}
ul#css3menu ul ul{
	position:absolute;left:98%;top:-2px;}
ul#css3menu{
	display:block;
	font-size:0;
	position:absolute;
	z-index:1000;
	left:474px;
	top:312px;
	width: 647px;
}
ul#css3menu li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu>li,ul#css3menu li{
	margin:0;}
ul#css3menu a:active, ul#css3menu a:focus{
	outline-style:none;}
ul#css3menu a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font: normal 15px Trebuchet MS,sans-serif;color:#052485;cursor:pointer;padding:5px;background-color:#E8F0F5;background-image:url("mainbk.png");background-position:0 0;border-width:0 0 0 0px;border-style:solid;border-color:#E8F0F5; border-radius: 20px;}
ul#css3menu ul li{
	float:none;margin:10px 0 0;}
ul#css3menu ul a{
	text-align:left;padding:4px;background-color:#E8F0F5;background-image:none;border-width:0;font:14px Tahoma,serif;color:#052485;text-decoration:none;}
ul#css3menu li:hover>a{
	background-color:#E8F0F5;border-color:#E8F0F5;border-style:solid;font:bold 14px Trebuchet MS,sans-serif;color:#0C27AF;text-decoration:none;background-image:url("mainbk.png");background-position:0 100%;}
ul#css3menu img{
	border:none;vertical-align:middle;margin-right:20px;width:16px;height:16px;}
ul#css3menu ul img{
	width:16px;height:16px;}
ul#css3menu img.over{
	display:none;}
ul#css3menu li:hover > a img.def{
	display:none;}
ul#css3menu li:hover > a img.over{
	display:inline;}
ul#css3menu span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu ul span{
	background-image:url("arrowsub.png");padding-right:24px;}
ul#css3menu ul li:hover>a{
	background-color:#052485;background-image:none;font:14px Tahoma,serif;color:#FFFFFF;text-decoration:none;}

/*Fin de nav*/

/** HEADER */

header {
padding: 20px 0 0 0;
}

header img {
clear: both;
display: block;
}

header>h1 {
float: left;
margin: 0 0 18px 10px;
width: 600px;
font-size: 40px;
line-height: 36px;
}

header>h1 a {
color: #870200;
font-weight: bold;
text-decoration: none;
}

/*Selector de hijos (>); cualquier elemento <h2> que sea hijo directo de un elemento <header>*/
/*p>span{ color: blue; } CUMPLE:<p><span>Texto1</span></p> NO CUMPLE:<p><a href="#"><span>Texto2</span></a></p>*/
header>h2 {  
color: #777;
clear: right;
float: right;
font-style: italic;
font-size: 14px;
margin: 14px 10px 18px 0;
}

article img {
border:none;
box-shadow: 5px -2px 5px #999;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

aside h3 {
font-size: 18px;
}

aside ul {
list-style: square;
color: #bbb;
margin: -15px 0 15px 25px;
}


#footer-area {
background:#3d6497;
color:#FFF;
font-size:90%;
padding:18px 0;
overflow:hidden;
/* curved border radius */
-moz-border-radius-bottomright:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 190px;

}

footer aside h4 {
color: #faf0e6;
font-size: 16px;
line-height: 1.5em;
}

footer ul {
list-style: none;
margin: -15px 0;
}

footer a:link, footer a:visited {
color: #BBCFE8;
}

footer a:hover { 
text-decoration:underline; 
}

footer p {
margin-top: -15px;
color: #faf0e6;
}
